<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="car" class="sit.int204.lab01.beans.Car">
        <constructor-arg name="chasisNumber" value="ZE3197-9485M"/>
        <constructor-arg name="brand" value="Toyota"/>
        <constructor-arg name="engine" ref="2ZZ-GE"/>
    </bean>
    <bean id="carX" class="sit.int204.lab01.beans.Car">
        <property name="chasisNumber" value="K123445ZR"/>
        <property name="brand" value="Benz D500"/>
        <property name="engine" ref="1KD-FTV"/>
    </bean>
    <bean id="2ZZ-GE" class="sit.int204.lab01.beans.GasolineEngine">
        <constructor-arg name="capacity" value="2498" type="int"/>
    </bean>
    <bean id="1KD-FTV" class="sit.int204.lab01.beans.DieselEngine">
        <constructor-arg name="capacity" value="2982" type="int"/>
    </bean>
</beans>

